<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.geopedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Geopedia"
        tools:targetApi="31">
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".CommentFeed"
            android:exported="false" />
        <!--
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AAIzaSyC-4IfxORypoNPw0EzxhSkEyT8RILUbMOA"/>
        -->
        <activity
            android:name=".AddEvents"
            android:exported="false" />
        <activity
            android:name=".AddQuestions"
            android:exported="false" />
        <activity
            android:name=".HomeUser"
            android:exported="false" />
        <activity
            android:name=".AddLocation"
            android:exported="false" />
        <activity
            android:name=".accounts.CreateNewAccount"
            android:exported="false" />
        <activity
            android:name=".HomeAdmin"
            android:exported="false"
            android:label="@string/title_activity_home_admin"
            android:theme="@style/Theme.Geopedia.NoActionBar" />
        <activity
            android:name=".accounts.LogIn"
            android:exported="false" />
        <activity
            android:name=".accounts.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome" />
    </application>

</manifest>